.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  margin-top: -50px;
  color: rgb(37, 47, 180);
}

.main h3 {
  color: rgb(39, 40, 43);
}

.main footer {
  margin-top: 50px;
  font-weight: 300;
}
